// Этот файл генерируется автоматически.

include ../../components/main-header/main-header
include ../../components/menu/menu
include ../../components/nav/nav
include ../../components/test2/test2
include ../../components/test3/test3
include ../../components/test4/test4
