mixin menu()
  header.header
    .container.header__container
      <a href="#" class="logo">Логотип</a>
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href='#') Пункт 1
            a.nav__link(href='#') Пункт 2
            a.nav__link(href='#') Пункт 3
            a.nav__link(href='#') Пункт 4
            a.nav__link(href='#') Пункт 5
            a.nav__link(href='#') Очень большой пункт
      butto.burger(aria-label='Открыть меню' aria-expendend='false')
        span.burger__line