.comments.main-content__comments
  p.comments__paragraph У вас есть вопрос? Заметили ошибку? Пишите в телеграм 
    a.comments__link(href='https://t.me/howtoby' target='_blank') t.me/howtoby
    | .