extends layouts/default.pug

append config
  - var articleTitle = 'Article title1'
  - var articleDescription = 'Many description article many description article many description article many description article many description article many description article many description article many description article many description article many description article many description article many description article many description article.'
  - var articleName = 'Article name'

append content
  article.article.main-content__article
